/* Thiết lập các thuộc tính chung cho body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Footer wrapper */
.footer-wrapper {
    border-top: 1px solid #e7eaf3;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
    background-image: src='assets/img/footer.webp';
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
}

/* Container để chứa các phần tử trong footer */
.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Thiết lập cho các hàng trong footer */
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

/* Mỗi cột trong footer */
.footer-col {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
}

/* footer Logo */
.footer-logo {
    display: block;
    margin-bottom: 10px;
    max-width: 50%; /* Đảm bảo logo không vượt quá kích thước của phần tử chứa */
    height: auto; /* Giữ tỷ lệ khung hình của logo */
}

/* Liên kết mạng xã hội */
.site-socials {
    display: flex;
    gap: 10px;
}

.site-socials a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.site-socials a:hover {
    color: #007BFF;
}

/* Tiêu đề của các cột */
.footer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Các liên kết trong footer */
.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #677788;
    text-decoration: none;
}

.footer-links a:hover {
    color: #35509a;
    text-decoration: underline;
    background-color: transparent;
}

/* Cấu trúc cho phần địa chỉ doanh nghiệp */
.footer-addresses ul {
    list-style: none;
    padding: 0;
}

.footer-addresses li {
    margin-bottom: 8px;
}

/* Các phần tử trong footer copyright */
.footer-copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}

/* Định dạng cho các thẻ <h5> trong footer */
.footer-addresses h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
        align-items: center;
        
    }

    .footer-col {
        max-width: 100%;
        margin-bottom: 20px;
        
    }
}
